.wrapper {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navbar {
    list-style: none;
    display: flex;
    gap: 50px;
}

.btn {
    padding: 10px;
    border: 1px solid black;
}